<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <!-- champions/titleholders -->
    <button ui-sref="home" name="button">back to home</button>
    <!-- button back to home -->
    <input ng-model="fighterSearch"></input>
    <!-- ng-input -->
    <button ng-click="getFighters(fighterSearch)">search</button>
<!-- button search -->
<br>
<span class="sho">player 1:{{playerOne.champion}} player 2:{{playerTwo.champion}} results: {{fightResults(playerOne,playerTwo,endings)}}</span>
    <div ng-repeat="champion in champions | filter: filter">
        <!-- div ng-repeat -->
        <div class="col-sm-4 col-md-3 col-lg-3 ">
      <!-- columns bootstrap test -->
        <img src="{{champion.belt_thumbnail}}" alt="" />
        <div><span class="sho">{{champion.weight_class}}</span></div>
        <div><span class="sho">{{champion.first_name}}</span></div>
        <div><span class="sho">{{champion.wins}}</span></div>
        <div><span class="sho">{{champion.losses}}</span></div>
        <div class="hide">{{champion.id}}</span></div>
<!-- <player1 button> -->
        <button ng-click="player1(champion)" >player1</button>
          <button ng-click="player2(champion)" >player2</button>
          <button ng-click="fightResults(playerOne,playerTwo,endings)">fight</button>
        <!-- <player 2 button> -->
        <hr>
<!-- columns bootstrap test -->
      </div>
        <!-- <ng-repeat -->
        <div>
</body>

</html>
