<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <!-- champions/titleholders -->
    <!-- back to home button -->
    <button class="btn btn-danger" id="home-btn-champions" ui-sref="home" name="button">back to home</button><br>
    <!-- searchbar -->
    <div class="search-bar">
    <!-- label for input -->
    <label for="search_person"><span class="sho" id="large-med-text">enter fighter Name</span></label>
    <!-- button back to home -->
    <input class="validate" id="search_person" ng-model="fighterSearch"></input>
    <!-- ng-input -->
    <button class="waves-effect waves-light btn-large" id="champion-search-btn" ng-click="getFighters(fighterSearch)"><span class="sho">search</span></button>
    <!-- button search -->
    </div>
    <!-- searchbar -->
    <br><br><br><br>
<!-- ====================Fight Results===================================================================================================== -->
    <hr>
<!-- need to figure out a way to hide this function -->
    <div class="sho"><span class="gold">player 1:</span>{{playerOne.champion}} <span class="gold">player 2:</span>{{playerTwo.champion}} <span class="gold">results:</span> {{fightResults(playerOne,playerTwo,endings)}}</div>
    <!-- functions keeps displaying -->
    <hr>
<!-- ====================Fight Results=====================================================================================================     -->
    <div ng-repeat="champion in champions | filter: filter">
        <!-- div ng-repeat -->
        <div class="col-sm-4 col-md-3 col-lg-3 ">
            <!-- columns bootstrap test -->
            <img src="{{champion.belt_thumbnail}}" alt="" />
            <div><span class="sho">{{champion.weight_class}}</span></div>
            <div><span class="sho">{{champion.first_name}} {{champion.last_name}}</span></div>
            <div><span class="sho">{{champion.wins}}</span></div>
            <div><span class="sho">{{champion.losses}}</span></div>
            <div class="hide">{{champion.id}}</span>
            </div>
            <!-- <player1 button> -->
            <button id="blue" class="sho" style="color:white"ng-click="player1(champion)"><span id="black">player1</span></button>
            <button id="red" class="sho" style="color:white"ng-click="player2(champion)"><span id="black">player2</span></button>
            <button id="yellow" class="sho right" style="color:white"ng-click="fightResults(playerOne,playerTwo,endings)"><span id="black">fight</span></button>
            <!-- <player 2 button> -->
            <hr>
            <!-- columns bootstrap test -->
        </div>
        <!-- <ng-repeat -->
        <div>
</body>

</html>
