<header class="header">
    <nav class='navbar navbar-inverse'>
        <ul class="nav">
            <li class="home link"><button class="btn btn-danger" ui-sref='home'>Home</button></li>
            <li class="champions link"><button class="btn btn-danger" ui-sref='champions'>champions</button></li>
            <li class="news link"><button class="btn btn-danger" ui-sref='news'>news</button></li>
        </ul>
        <button ng-click='jokeAlert({day:joke})'>Alert day</button>
      <input type="checkbox">
    </nav>
  </header>
