<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- champions/titleholders -->
    <h1 class="mix-it-small-head sho">LATEST NEWS</h1>
    <!-- back to home button -->
    <div>
    <button class="btn btn-danger" id="home-btn-champions" ui-sref="home" name="button">back to home</button><br>
    <!-- searchbar -->
    </div><br>
    <div class="container container-news search-bar">
<!-- ng repeat -->
<div ng-repeat="news in getNews" class="news-align">
  <img src="{{news.thumbnail}}" alt="{{news.title}}" />
<div class='gura'>{{news.title}}</div>
<div class='gura'>{{news.article_date}}</div>
<div class='gura'>{{news.url_name}}</div>
<div><a href="{{news.external_url}}"><span style="font-size:25px">{{news.external_url}}</span></a></div>
<div>
  <input ng-click="checkedItems(news.title)" value='news.checkbox' ng-model ="news.checkbox" type="checkbox" id="test5"/><label for="test5" class="lightgray" id="large-med-text"> &nbsp keep up with this event</label>
</div>



<hr>
<!-- ng-repeat div  -->
</div>

<!-- container -->
</div>


  </body>
</html>
