<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <button ui-sref="home" class="btn btn-danger">back to home</button>
    <!-- button back to home -->
    <div class="container container-news">
<!-- ng repeat -->
<div ng-repeat="news in getNews">
  <img src="{{news.thumbnail}}" alt="{{news.title}}" />
<div class='gura'>{{news.title}}</div>
<div class='gura'>{{news.article_date}}</div>
<div class='gura'>{{news.url_name}}</div>
<div><a href="{{news.external_url}}"><span style="font-size:25px">{{news.external_url}}</span></a></div>
<input type="checkbox"><label class="lightgray"> &nbsp keep up with this event</label>
<hr>
<!-- ng-repeat div  -->
</div>

<!-- container -->
</div>
  </body>
</html>
